[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "*"
psycopg2-binary = "*"
flask-sqlalchemy = "*"
sqlalchemy = "*"
flask-migrate = "*"
flask-jwt-extended = "*"
pytest = "*"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
start = "python src/run.py"
test = "python -m pytest"

init = "flask db init"
migrate = "flask db migrate"
upgrade = "flask db upgrade"
